#maincanvas
{
  background-color: #04AA6D; /* Green */
  outline: red 3px solid;
} 

div {
  display: grid;
  place-items: center; /* Center both horizontally and vertically */
  height: 100vh; /* Use 100% of viewport height */
}

/* Disable resizing for images */
img {
  resize: none;
}

html, body {
  resize: none;
  overflow: hidden;
}